/* styles.css */
.btn-search {
    border-color: #008000; /* Màu viền ban đầu */
    background-color: #ffffff; /* Màu nền ban đầu */
}

.btn-search:hover {
    background-color: #008000; /* Màu nền khi hover */
    border-color: #008000; /* Màu viền khi hover */
}

.btn-search .bi {
    color: #008000; /* Màu biểu tượng ban đầu */
}

.btn-search:hover .bi {
    color: #ffffff; /* Màu biểu tượng khi hover */
}

#searchMonth {
    border-color: #008000; /* Màu viền */
}

