.employee-banner {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.employee-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(25% - 40px); /* Tính toán chiều rộng của mỗi thẻ và tính toán khoảng cách */
    max-width: 250px; 
}

.employee-card:hover {
    color: #2C3D57; 
}

.employee-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.employee-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee-details {
    flex: 1;
}

.employee-details h3 {
    margin: 0;
    font-size: 1.2em;
}

.employee-details p {
    margin: 5px 0;
}

.btn-view-details {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
  }

.icon-box
{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 60px; /* Điều chỉnh kích thước vòng tròn */
        height: 60px; /* Điều chỉnh kích thước vòng tròn */
        border-radius: 50%; /* Biến hình thành hình tròn */
        background-color: #2472c6; /* Màu nền của vòng tròn */
        color: #162d46; /* Màu chữ của biểu tượng */
        font-size: 40px;
        position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}